/*
- Clases estéticas para dar estilo a cualquier o todos los elementos de una página
- This is mostly a cosmetic layer — this is where I included more specific styling instructions for objects. 
  Without the components layer, the site would still have its structure, but would look like a gray-box wireframe.
*/
@import "src/assets/styles/settings";

.standard-card {
    box-shadow:0.2rem 0.2rem 0.5rem $color-primary-shadow;  
    margin-left: 1rem;
    &-row {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0.5rem;
    }
    &-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    &-col {
        text-align: left;
    }
    &-price {
        max-lines: 1;
        word-wrap: normal;
        font-weight: bold;
        
    }
    &-button {
        background-color: $color-primary-background;
        border-color: $color-primary-border;
        &:active {
            background-color: $color-primary-background !important;
            border-color: $color-primary-border !important;
        }
        padding: 0rem;
        text-align: right;
    }
}