/*
- These are preprocessor variables for later use.
- Variables y métodos de preprocesadores
*/

/* PALETTE */
$color-background-primary: alpha($color: #000000);
$color-border-primary: white;
$color-shadow-primary: lightgrey;

/* PIXEL SIZES */
$item-detail__image--max-width: 480px;