/*
- These are preprocessor variables for later use.
- Variables y métodos de preprocesadores
*/
/* ===== PALETTE ===== */
$color-primary-background: alpha($color: #000000);
$color-primary-border: white;
$color-primary-shadow: lightgrey;